@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Ubuntu:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  background-color: white;
}

.trh{
  font-size: 25px !important;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.cards{
  display: inline-block;
  align-items: center;
  padding: 0;  
  width: 20%;
  align-items: center;
  border-radius: 5px 40px;
  border: 2px solid coral;
  justify-content: center;
  align-items: center;
  margin: 50px 90px;
  cursor: pointer;
}

.cards>img{
  margin: 0;
  height: 300px;
  width: 100%;
  border-radius: 5px 40px;
}

.cards:hover{
  transform: scale(1.05);
  transition-duration: 1s;
  box-shadow: 0 4px 8px 0 rgba(8, 8, 8, 0.2), 0 6px 20px 0 rgba(19, 15, 15, 0.19);
}

.dis>*{
  display: inline;
}

.dis>h3{
  margin-left: 10px;
}

.dis h5{
  margin-left: 20px;
  font-family: 'Bree Serif', serif;
}
.tr{
  margin-left: 23px !important;
}

.dis p{
  font-size: 17px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 800;
}

#view{
  margin-top: 15px;
  margin-left: 35px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: rgb(76, 182, 76);
  margin-bottom: 10px;
  font-size: 20px;
  cursor: pointer;
}

#contact{
  margin-left: 35px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: rgb(76, 182, 76);
  font-size: 20px;
  cursor: pointer;
}

#view:hover{
  background-color: #FFC0C7;
}

#contact:hover{
  background-color: #FFC0C7;

}

.btn{
  border: 2px solid coral;
  background-color: #FFC0C7;
  margin-right: 35px;
  font-size: 20px;
  padding: 0 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.btn:hover{
  background-color: cyan;
}
